<!doctype html>

{% load staticfiles %}

<html>
    <head>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Orbitron|Play" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">



    
    <title>Aplha Particle Assembly</title>
    <nav id="navbar"> 
    <img src="/static/iconmain.svg" id="iconmain">
    <small><a href="#welcome-section">alpha particle assembly</a></small>
  <!--  <audio controls="controls">
        <source src="/static/apamix.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>-->
    <div>
      
      
      <!--<a href="#" class="navbarlink">PODCASTS</a>
      <a href="#" class="navbarlink">PRESS</a>-->
      <a href="#gallery" class="navbarlink">GALLERY</a>
      <a href="#contact" class="navbarlink">LINKS</a>
      <a href="#projects" class="navbarlink">RELEASES</a>
        
    </div>
    </nav>
    
  </head>
  

  <main>
  
    <div id="welcome-section">
    
      <p>ALPHA PARTICLE ASSEMBLY</p>
          
    </div>
    

    
<section id="projects">
  <h2 id="My_projects">Recent Releases</h2>
      
<div class="flex-container">
        
      
    <div class="project-tile">
       
    <a href="https://www.beatport.com/release/future/2469173" target="_blank"><img src="https://geo-media.beatport.com/image/b4565d59-2366-4ea1-bcf0-9876b0c44c6d.jpg" class="image"></a>
    <div class="projectboxheader">CSMD110 Future</div>

    </div>
        

<div class="project-tile">
  
  <a href="https://www.beatport.com/release/genome-sequence/2439219" target="_blank"><img src="https://geo-media.beatport.com/image/7d6db91f-2df5-4102-9a88-6e1e5699e011.jpg" class="image"></a>
  <div class="projectboxheader">RBL246 Genome Sequence</div>

</div>
        
      
 <div class="project-tile">
     <a href="https://www.beatport.com/release/ghost-protocol/2385004" target="_blank"><img src="https://geo-media.beatport.com/image/2c5ea4e0-5160-4a98-94b1-757a18b7d5e8.jpg" class="image"></a>

<div class="projectboxheader">CSMD108 Ghost Protocol</div>

</div>

      
 <div class="project-tile">
     <a href="https://www.beatport.com/release/iso-ii/2254062" target="_blank"><img src="https://geo-media.beatport.com/image/0d04e4d7-5e17-4fa0-bd87-22a4f3d29813.jpg" class="image"></a>

<div class="projectboxheader">CSMD105 ISOII</div>

</div>
      
      
 <div class="project-tile">
     <a href="https://www.beatport.com/release/perpetual-motion/2198553" target="_blank"><img src="https://geo-media.beatport.com/image/5764b94f-2a54-4258-90d5-568020b581e6.jpg" class="image"></a>

<div class="projectboxheader">CSMD103</div>
</div>
      

</div>
        
</div>      
  
</section>

    
<section id="contact">
      <h2>Stay In Touch</h2>
      <div class="flex-container">
      
      <div class="contactitem"><a href="mailto:info@alphaparticleassembly.com" target="_blank">Send Email</a></div>
       <div class="contactitem"> <a href="https://soundcloud.com/alphaparticleassembly_x" target="_blank">Soundcloud</a></div>
       <div class="contactitem"> <a href="https://www.beatport.com/artist/alpha-particle-assembly/658152" target="_blank">Beatport</a></div>
       <div class="contactitem"> <a href="https://open.spotify.com/artist/0KVU8oTgeQqqXRJezKVQIb" target="_blank">Spotify</a></div>
       <div class="contactitem"> <a href="https://itunes.apple.com/nl/artist/alpha-particle-assembly/1321561852?l=en" target="_blank">iTunes</a></div>
       <div class="contactitem"> <a href="https://www.deezer.com/en/artist/13826565" target="_blank">Deezer</a></div>


      </div>
</section>
<section id = "gallery">

 <!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src ="/static/alphaparticleassembly4.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly27.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly1.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly5.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly6.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly7.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly20.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly9.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src ="/static/alphaparticleassembly30.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly31.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly19.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly13.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly14.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly15.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly17.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly18.jpg" style="width:100%">
  </div>
  
  <div class="column">
    <img src ="/static/alphaparticleassembly12.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly8.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly21.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly22.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly23.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly28.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly24.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly26.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly2.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src ="/static/alphaparticleassembly25.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly29.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly16.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly10.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly11.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly32.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly33.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly34.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly35.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly36.jpg" style="width:100%">
    <img src ="/static/alphaparticleassembly3.jpg" style="width:100%">


  </div> 

</div>

</section>


  </main>
        
<footer>  Alpha Particle Assembly &copy; 2019 </footer>
  
</html>